.App {
  text-align: center;
  padding: 50px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.card {
  padding: 50px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
